:root {
    --normal-sans: 'Montserrat', sans-serif;
    --curve-sans: 'Montserrat Alternates', sans-serif;
    --shadow-font: 'Rampart One', cursive;
    --rokkitt-times-new-roman: 'Rokkitt', serif;
    --primary-color: rgb(10, 198, 198);
}