:root{
    --normal-sans: 'Montserrat', sans-serif;
    --curve-sans: 'Montserrat Alternates', sans-serif;
    --shadow-font: 'Rampart One', cursive;
    --rokkitt-times-new-roman: 'Rokkitt', serif;
    --primary-color: rgb(10, 198, 198);
}

.navbar{
    position: fixed !important;
    width: 100vw;
    z-index: 1;
}

.navbar .bi-caret-down-square-fill{
    color: white;
}

.navbar .navbar-toggler{
    transition: all 0.5s;
}

.navbar .navbar-toggler:focus{
    box-shadow: none;
}

.navbar a, .navbar a:focus{
    margin: 0 0.5rem;
    padding: 0.5rem 0.5rem;
    color: black;
    font-weight: 500;
    border-radius: 20px;
}

.navbar-nav a:hover{
    color: black;
    border-color: white;
    background-color: white;
    box-shadow: 0 0 5px rgb(159, 159, 159);
}

.navbar-brand{
    font-size: 1.5rem !important;
    font-family: var(--shadow-font);
}

#home:hover > i{
    position: relative;
    animation: fade 0.8s infinite linear;
    color: var(--primary-color);
}

#popular:hover > i{
    animation: fade 1s infinite;
    color: rgb(255, 196, 0);
}

#register:hover > i{
    animation: fade 1s infinite;
    color: var(--primary-color);
}

#sign-in:hover > i{
    animation: fade 1s infinite;
    color: var(--primary-color);
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}